@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 236 47% 7%;
    --foreground: 0 0% 100%;

    --card: 235 47% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 235 47% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 235 96% 80%;
    --primary-foreground: 235 47% 20%;

    --secondary: 260 68% 69%;
    --secondary-foreground: 235 47% 20%;

    --muted: 235 47% 20%;
    --muted-foreground: 236 96% 90%;

    --accent: 260 68% 69%;
    --accent-foreground: 235 47% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 235 47% 20%;
    --input: 235 47% 20%;
    --ring: 236 47% 7%;

    --radius: 0.5rem;

    --dark-2: #090A19;
    --neutral-1: #1B1F4C;
    --light-1: #FFFFFF;
    --light-2: #CED1FE;
    --light-3: #9CA4FD;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.bg-neutral-1 {
  background-color: var(--neutral-1);
}
.bg-dark-2 {
  background-color: var(--dark-2);
}
.bg-light-2 {
  background-color: var(--light-2);
}
.text-light-1 {
  color: var(--light-1);
}
.outline-neutral-1 {
  outline-color: var(--neutral-1);
}
.text-light-3 {
  color: var(--light-3);
}
.border-light-2 {
  border-color: var(--light-2);
}