@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Figma Colours */
    --dark-1: hsl(0 0% 0%);
    --dark-2: hsl(236 64% 10%);
    --dark-alt: hsl(260 52.38% 12.35%);
    --neutral-1: hsl(235 64% 30%);
    --neutral-2: hsl(235 64% 40%);
    --neutral-3: hsl(235 64% 49%);
    --neutral-4: hsl(235 64% 59%);
    /* the green neutral */
    --neutral-5: hsl(203 82% 18%);
    --light-1: hsl(0 0% 100%);
    --light-2: hsl(236 18% 98%);
    /* light purple */
    --light-alt: hsl(260 46% 90%);
    /* light green */
    --light-alt-2: hsl(183 100% 79%);
    --logo-blue-2: hsl(237 66% 77%);
    --logo-blue-1: hsl(236 62% 95%);

    /* Colours to be used for components */
    --background: 236 47% 7%;
    --foreground: 0 0% 100%;

    --card: 235 47% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 235 47% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 235 96% 80%;
    --primary-foreground: 235 47% 20%;

    --secondary: 260 68% 69%;
    --secondary-foreground: 235 47% 20%;

    --muted: 235 47% 20%;
    --muted-foreground: 236 96% 90%;

    --accent: 260 68% 69%;
    --accent-foreground: 235 47% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 235 47% 20%;
    --input: 235 47% 20%;
    --ring: 236 47% 7%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
