@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Figma Colours */
    --dark-1: hsl(0 0% 0%);
    --dark-2: hsl(236.25, 47.06%, 6.67%);
    --dark-3: hsl(232.5, 48%, 9.8%);
    --dark-alt: hsl(260 52.38% 12.35%);
    --neutral-1: hsl(235.1, 47.57%, 20.2%);
    --neutral-2: hsl(235.38, 47.45%, 26.86%);
    --neutral-3: hsl(234.81, 47.37%, 33.53%);
    --neutral-4: hsl(235.05, 47.32%, 40.2%);

    --light-1: hsl(0 0% 100%);
    --light-2: hsl(236.25, 96%, 90.2%);

    /* Colours to be used for components */
    --background: 236 47% 7%;
    --foreground: 0 0% 100%;

    --card: 235 47% 20%;
    --card-foreground: 0 0% 100%;
    --landing-card: 232, 50.8%, 12%;

    --popover: 235 47% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 235 96% 80%;
    --primary-foreground: 235 47% 20%;

    --secondary: 260 68% 69%;
    --secondary-foreground: 235 47% 20%;

    --muted: 235 47% 20%;
    --muted-foreground: 236 96% 90%;

    --accent: 260 68% 69%;
    --accent-foreground: 235 47% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 235 47% 20%;
    --input: 235 47% 20%;
    --ring: 236 47% 7%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes crater-fade {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
